* {
	box-sizing: border-box;
	
}

html, body {
	margin : 0;
	padding: 0;
	margin-left : 0;
	margin-right : 0;
	height: 100%;
	background-color: #8103c1 !important;

}
div#login{
	width: 100%;
	}
div#mainRegistro {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
}

div#videoThunder {
	display: none;
	width: 0%;
}

div#videoThunderRe {
	display: none;
	width: 0%;
}

div#registro {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div#cabecera {
	background-color: #A304F3;
	margin: 0;
	padding: 0;
	height: 20%;
}

div#cuerpo {
	background-color: #F3A304;
	margin: 0;
	padding: 0;
	height: 50%;
}

div#cuerpo-pasarela {
	background-color: #F3A304;
	margin: 0;
	padding: 0;
	height: 80%;
}

div#cuerpoReg {
	background-color: #F3A304;
	margin: 0;
	padding: 0;
	height: 70%;
}

input {
	border: solid 2px #A304F3;
}

div#izquierda {
	width: 50%;
}

div#derecha {
	width: 50%;
}

button.btn {
	background-color: #A304F3;
	color: white;
}

button.btn:hover {
	background-color: #8103c1;
	color: white;
}

div#cabecera>img {
	height: 10rem;
	margin-left: 40%;
}

p.error {
	color: red;
	text-align: center;
}

div#boton {
	display: flex;
	align-items: center;
	padding-left: 35%; 
	padding-bottom: 2rem;
}

p.underForm {
	text-align: center;
	padding-bottom: 5rem;
	padding-top: 2rem;
}

div#footer {
	background-color: #8103c1;
	height: 30%;
	margin: 0;
	padding: 0;
}

div#footerRe {
	background-color: #8103c1;
	height: 100%;
	margin: 0;
	margin-top: -7%;
}

div#socialMedia {
	padding-top: 2rem;
	display: flex;
	justify-content: space-around;
}

img#twitch {
	width: 48px;
	height: 48px;
}

div#privacidad {
	margin-top: 2rem;
}

div#privacidad>p {
	text-align: center;
	color: white;
}

div#usuario{
	padding: 2rem;
}

div#contraseña{
	padding: 2rem;
}

div.pasarelaInputs{
	padding: 2rem;
}
div.inputs{
	padding: 1rem;
}

form#pasarela{
	height: 70%;
}

div#submit{
	display: flex;
	justify-content: center;
}

div#fechaCaducidad{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

span#barra {
	margin: 1rem;
}

form#formReg{
	display: flex;
	flex-flow: row wrap;
}

@media all and (min-width: 1200px) {
	div#videoThunder {
	display: block;
		width: 70%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	div#registro{
	width: 40%;
	height: 100%;
	}
	
	div#login{
	width: 30%;
	height: 100%;
	}
	
	div#mainRegistro{
	width: 100%;
	height: 100%;
	}
	
	
	img#imgLogin{
	width: 100%;
	height: 100%;
	}
	
	div#videoThunderRe {
	display: block;
		width: 70%;
		height: 116.8%;
		margin: 0;
		padding: 0;
}
}