

*{
	 box-sizing: border-box;
	  margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#mainRegistro{
	display:flex;
	flex-flow: row nowrap;
	margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
}

div#videoThunder{
	width: 90%;
	height: 100%;
	margin: 0;
    padding: 0;
}

div#registro{
	width: 40%;
	height: 100%;
	margin-right: 2rem;
	padding: 1rem;
	margin: 0;
    padding: 0;
}

div#cabecera{
	background-color: #A304F3;
	margin: 0;
    padding: 0;
}

div#cuerpo{
	
	background-color: #F3A304;
	margin: 0;
    padding: 0;
}

input {
	border: solid 2px #A304F3;
	
}

div#izquierda{
	width: 50%;
}

div#derecha{
	width: 50%;
}

button.btn{
	background-color: #A304F3;
	color:white;
}

button.btn:hover{
	background-color: #8103c1;
	color:white;
}

div#cabecera > img{
	height: 10rem;
	margin-left: 40%;
}

p.error{
	color:red;
	text-align: center;
}

div#boton{
	 display: flex;
    align-items: center;
    margin-left: 35%;
}

p.underForm{
	text-align: center;
	padding-bottom: 5rem;
	padding-top: 2rem;
}

div#footer{
	background-color: #8103c1;
	height: 18rem;
	margin: 0;
    padding: 0;
}

div#socialMedia{
	padding-top: 2rem;
	display: flex;
	justify-content: space-around;
}

img#twitch{
	width: 48px;
	height: 48px;
}

div#privacidad{
	margin-top: 2rem;
}

div#privacidad > p{
	text-align: center;
	color : white;
}
