<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" lang="es">
<title>Login</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<LINK REL=StyleSheet HREF=css/Login.css TYPE="text/css" MEDIA=screen>
</head>
<body>
	<div id="mainRegistro">
		<div id="videoThunder"><img src="/images/main.jpg" alt="principal" id="imgLogin"></div>
		<div id="login">
			<div id="cabecera">
				<img src="images/thunder_virus_logo.png" class="img-fluid"
					alt="Logo">
			</div>
			<div id="cuerpo">

				<form class=" needs-validation" th:action="@{/login}" method="post" th:object="${usuariodto}">
					<div id="usuario">
						<label for="usuario" class="form-label">Usuario </label> <input
							type="text" class="form-control" id="usuario" name="username"
							required>
					</div>

					<div id="contraseña">
						<label for="clave" class="form-label">Contraseña </label> <input
							type="password" class="form-control" id="clave" name="password"
							required>
					</div>

					<div  id="boton">
						<button class="btn" type="submit">Registrarse</button>
					</div>

				</form>
				<p th:if="${param.error}" class="error">Invalid username and password.</p>
				<p class="underForm">
					¿Todavía no tienes cuenta? <a th:href="@{/registroland}">Regístrate</a>
				</p>

		</div>
			<div id="footer">
				<div id="socialMedia">
				<img src="images/instagram.png" alt ="instagram">
				<img src="images/youtube.png" alt ="youtube">
				<img id ="twitch" src="images/twitch.png" alt ="twitch">
				<img src="images/twitter.png" alt ="twitter">
				<img src="images/tiktok.png" alt ="tiktok">
				</div>
				<div id="privacidad">
				<p>Aviso legal</p>
				<p>Política de cookies</p>
				<p>Política de privacidad</p>
				</div>
			</div>
				
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>