<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" lang="es">
<title>registro</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<LINK REL=StyleSheet HREF=css/Login.css TYPE="text/css" MEDIA=screen>
</head>
<body>
	<div id="mainRegistro">
		<div id="videoThunder"></div>
		<div id="registro">
			<div id="cabecera">
				<img src="images/thunder_virus_logo.png" class="img-fluid"
					alt="Logo">
			</div>
			<div id="cuerpo">
			
				<form class="row g-3 needs-validation"
				th:action="@{/login}" method="post" th:object="${usuariodto}">
						<div class="mb-2 p-3">
							<label for="usuario" class="form-label">Usuario </label> <input
								type="text" class="form-control" id="usuario" name="usuario"  required>
						</div>
						
						<div class="mb-3 p-3">
							<label for="clave" class="form-label">Contraseña </label> <input
								type="password" class="form-control" id="clave" name="clave" required>
						</div>
						
						<div class="mb-3 " id="boton">
							<button class="btn" type="submit">Registrarse</button>
						</div>
				
				</form>
				<p th:if="${ErrorUsuario}"class="error">Usuario / contraseña son incorrectos </p>
				<p class="underForm">¿Todavía no tienes cuenta? <a th:href="@{/registroland}">Regístrate</a></p>
				<div id="piePagina">
				
				</div>

			</div>

		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>