<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" lang="es">
<title>Inicio</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<LINK REL=StyleSheet HREF=css/main.css TYPE="text/css" MEDIA=screen>
</head>
<body>
	<header>
		<!-- Logog -->
		<div id="cabecera">
			<a th:href="@{/}"><img  src="images/thunder_virus_logo.png"
				class="img-fluid logo" alt="Logo"></a>
		</div>
		<!-- menu de la pagina -->
		<nav class="navbar navbar-expand bg-light">
			<div class="container-fluid">
				
				 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav m-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/perfil}"><img id="avatar"
								th:src="'/images/perfile/'+${#request.userPrincipal.principal.file}" alt="avatar"></a></li>
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/}"><p>Inicio</p></a></li>
						<li class="nav-item"><a th:if="${NoSub}" class="nav-link disabled"
							th:href="@{/evento}"><p>Evento</p></a><a th:if="${EsSub}" class="nav-link active"
							th:href="@{/evento}"><p>Evento</p></a></li>
						<li class="nav-item dropdown" id="jugadores"><a
							class="nav-link dropdown-toggle d-flex" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
								<p class="mr-1">Jugadores</p>
						</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/javi}"><p>Javi</p></a></li>
								<li><a class="dropdown-item" th:href="@{/ivan}"><p>Ivan</p></a></li>
								<li><a class="dropdown-item" th:href="@{/antonio}"><p>Antonio</p></a></li>
								<li><a class="dropdown-item" th:href="@{/angie}"><p>Angie</p></a></li>
								<li><a class="dropdown-item" th:href="@{/adri}"><p>Adrian</p></a></li>
								<li><a class="dropdown-item" th:href="@{/tono}"><p>Toño</p></a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/Merchandising}"><p>Merchandising</p></a></li>

					</ul>

				</div>
			</div>
		</nav>
	</header>
	<main>
		<div id="presentacion">
			<div id="quienesSomos">
				<h2>¿Quienes somos?</h2>
				<img src="/images/PrimaraPaginaPrimeraFoto.jpeg" alt="QuienesSomos" class="img-fluid rounded" id="imgmain"/>
				<p>
					¡Hola hola! Somos un grupo de amigos que decidió aventurarse en el mundo de esport creando nuestro propio equipo.<br>
					Tras todos los impresionantes avances personales que hemos conseguido a lo largo de nuestra carrera con los videojuegos creemos que es el momento perfecto para comenzar con un nuevo reto como equipo. ¿Te atreves a unirte a nosotros?<br>
					Uniremos nuestras fuerzas para dar el máximo espectáculo posible con nuestro juego y entretener a los usuarios con una relación muy cercana.
				</p>
			</div>
			<div id="Nuestro equipo">
				<h2>Nuestro equipo</h2>
				<img src="/images/PrimaraPaginaPrimeraFoto.jpeg" alt="NuestroEquipo" class="img-fluid rounded" id="imgmain"/>
				<p>Nuestro equipo de esport un profesional en diversos videojuegos esta compuesto por los siguientes gamers:</p>
			</div>
		</div>

		<div id="jugadoresMain">
			<div class="jugadores">
				<h3>Javi “jajavimed”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="Javi" class="img-fluid rounded" id="imgJuga2"/>
				<p>Javi el creador del equipo y el director que consigue que todo marche sobre ruedas. Un gran profesional en varios videojuefgos, ¿te lo vas a perder?</p>
				<a th:href="@{/javi}"><p>Mas información</p></a>
			</div>
			<div class="jugadores">
				<h3>Antonio “ThunderAntonio”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="Antonio" class="img-fluid rounded" id="imgJuga2"/>
				<p>Antonio nuestro jugador estrella, esta dispuesto a sorprender a los más veteranos de cada juego ¿será capaz?</p>
				<a th:href="@{/antonio}"><p>Mas información</p></a>
			</div>
			<div class="jugadores">
				<h3>Ivan “Navi3b”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="Ivan" class="img-fluid rounded" id="imgJuga2"/>
				<p>Iván el jugador con más horas en su espalda. Puede que su técnica no sea la mejor pero tienen una eficacia insuperable en cada videojuego.</p>
				<a th:href="@{/ivan}"><p>Mas información</p></a>
			</div>
			<div class="jugadores">
				<h3>Adrian “darkness”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="Adrian" class="img-fluid rounded" id="imgJuga2"/>
				<p>Adrian el jugador más impulsivo del equipo, capaz de llegar a lo más lejos con tal de dar una victoria a su equipo</p>
				<a th:href="@{/adrian}"><p>Mas información</p></a>
			</div>
			<div class="jugadores">
				<h3>Angie “srapatata”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="Angie" class="img-fluid rounded" id="imgJuga2"/>
				<p>Angie la mujer del equipo. Sus técnicas y habilidades en la organización de estrategias puede que nos den la victoria en muchas ocasiones.</p>
				<a th:href="@{/angie}"><p>Mas información</p></a>
			</div>
			<div class="jugadores">
				<h3>Toño “patata”</h3>
				<img src="/images/Jugadores/Javier.jpeg" alt="toño" class="img-fluid rounded" id="imgJuga2"/>
				<p>Toño el profesional de los juegos móviles. El jugador con los dedos más rápidos y con las capacidades más desarrolladas en técnicas de juegos moviles.</p>
				<a th:href="@{/tono}"><p>Mas información</p></a>
			</div>
		</div>
	</main>
	<!-- Pie de pagina -->
	<footer>
		<div id="socialMedia">
			<img class="icon" src="images/instagram.png" alt="instagram"> 
			<img class="icon" src="images/youtube.png" alt="youtube"> 
			<img class="icon" src="images/twitch.png" alt="twitch"> 
			<img class="icon" src="images/twitter.png" alt="twitter"> 
			<img class="icon" src="images/tiktok.png" alt="tiktok">
		</div>
		<div id="logoFooter">
		<img class="img-fluid logo" src="images/thunder_virus_logo.png" alt="Logo">
				<p>copyright © todos los derechos reservados 2022</p>
		</div>
		<div id="politica">
		<p>Aviso legal</p>
		<p>Política de cookies</p>
		<p>Política de privacidad</p>
		</div>
	</footer>
	<!-- fin del pie de pagina -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>
