<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" lang="es">
	<title>Inicio</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<LINK REL=StyleSheet HREF=css/main.css TYPE="text/css" MEDIA=screen>
</head>

<body>
	<header>
		<!-- Logog -->
		<div id="cabecera">
			<a th:href="@{/}"><img src="images/thunder_virus_logo.png" class="img-fluid logo" alt="Logo"></a>
		</div>
		<!-- menu de la pagina -->
		<nav class="navbar navbar-expand bg-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav m-0">
						<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/perfil}"><img
									id="avatar" th:src="'/images/perfile/'+${#request.userPrincipal.principal.file}"
									alt="avatar"></a></li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/}">
								<p>Inicio</p>
							</a></li>
						<li class="nav-item"><a th:if="${NoSub}" class="nav-link disabled" th:href="@{/evento}">
								<p>Evento</p>
							</a><a th:if="${EsSub}" class="nav-link active" th:href="@{/evento}">
								<p>Evento</p>
							</a></li>
						<li class="nav-item dropdown" id="jugadores"><a class="nav-link dropdown-toggle d-flex" href="#"
								id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<p class="mr-1">Jugadores</p>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/javi}">
										<p>Javi</p>
									</a></li>
								<li><a class="dropdown-item" th:href="@{/ivan}">
										<p>Ivan</p>
									</a></li>
								<li><a class="dropdown-item" th:href="@{/antonio}">
										<p>Antonio</p>
									</a></li>
								<li><a class="dropdown-item" th:href="@{/angie}">
										<p>Angie</p>
									</a></li>
								<li><a class="dropdown-item" th:href="@{/adri}">
										<p>Adrian</p>
									</a></li>
								<li><a class="dropdown-item" th:href="@{/tono}">
										<p>Toño</p>
									</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/Merchandising}">
								<p>Merchandising</p>
							</a></li>

					</ul>

				</div>
			</div>
		</nav>
		<!--fin menu de la pagina -->
	</header>
	<main class="d-flex flex-row">

		<div id="imagenPerfil">
			<img th:src="'/images/perfile/'+${#request.userPrincipal.principal.file}" alt="perfil">
			<form th:action="@{/cambiarFoto}" method="post" id="cambImagen" enctype="multipart/form-data">
				<input class="form-control" type="file" id="foto" accept="image/png,image/jpeg" name="file">
				<input type="hidden" name="idusuario" th:value="${#request.userPrincipal.principal.idUsuario}">
				<input type="hidden" name="username" th:value="${#request.userPrincipal.principal.username}">
				<button class="btn" type="submit" id="btnCambioFile">Cambiar Foto</button>
			</form>
		</div>
		<div id="perfilCompleto">
			<form th:action="@{/cambio}" method="post" id="form-perfil" th:object="${UsuarioUpdate}">
				<div id="izq-form">
					<label for="nombre" class="form-label">Nombre completo </label> <input type="text"
						class="form-control" id="nombre" name="nombreCompleto"
						th:placeholder="${#request.userPrincipal.principal.nombreCompleto}" required> <label
						for="usuario" class="form-label">Usuario
					</label> <input type="text" class="form-control" id="usuario"
						th:placeholder="${#request.userPrincipal.principal.username}" name="username" required> <label
						for="clave" class="form-label">Contraseña Actual</label> <input type="password"
						class="form-control" id="clave" name="password2">
				</div>
				<div id="der-form">
					<label for="clave2" class="form-label">Contraseña Nueva</label> <input type="password"
						class="form-control" id="clave2" name="password"> <label for="email" class="form-label">Email
					</label> <input type="email" class="form-control" id="email"
						th:placeholder="${#request.userPrincipal.principal.email}" placeholder="nombre@ejemplo.com"
						name="email" required> <label for="fech_nac" class="form-label">Fecha de nacimiento </label>
					<input type="date" class="form-control" id="fech_nac" name="fecha_nac"
						th:placeholder="${#request.userPrincipal.principal.fechNac}" required>
					<input type="hidden" name="idusuario" th:value="${#request.userPrincipal.principal.idUsuario}">
				</div>
				<button class="btn" type="submit" id="btnCambio">Cambiar</button>
			</form>
			<p th:if="${ErrorUsuarioNombre}" class="error">Invalid username</p>
			<p th:if="${ErrorUsuarioPassworld}" class="error">Passworld incorrect</p>
			<div id="butonesSUper">
				<form th:action="@{/logout}" method="post" id="logout">
					<button class="btn">cerrar sesión</button>
				</form>
				<form th:if="${NoSub}" th:action="@{/pasarela}" method="post" id="desub">
					<input type="hidden" name="idusuario" th:value="${#request.userPrincipal.principal.idUsuario}">
					<button class="btn">subscribirse</button>
				</form>

				<form th:if="${EsSub}" th:action="@{/unsub}" method="post">
					<input type="hidden" name="idusuario" th:value="${#request.userPrincipal.principal.idUsuario}">
					<button class="btn">desuscribirse</button>
				</form>

				<form th:action="@{/delUser}" method="post">
					<input type="hidden" name="idusuario" th:value="${#request.userPrincipal.principal.idUsuario}">
					<button class="btn">eliminar cuenta</button>
				</form>
				<form th:action="@{/delUser}" method="post">
					<button class="btn disabled">Proximamente</button>
				</form>
			</div>
		</div>

	</main>
	<footer>
		<div id="socialMedia">
			<img class="icon" src="images/instagram.png" alt="instagram"> <img class="icon" src="images/youtube.png"
				alt="youtube"> <img class="icon" src="images/twitch.png" alt="twitch"> <img class="icon"
				src="images/twitter.png" alt="twitter"> <img class="icon" src="images/tiktok.png" alt="tiktok">
		</div>
		<div id="logoFooter">
			<img class="img-fluid logo" src="images/thunder_virus_logo.png" alt="Logo">
			<p>copyright © todos los derechos reservados 2022</p>
		</div>
		<div id="politica">
			<p>Aviso legal</p>
			<p>Política de cookies</p>
			<p>Política de privacidad</p>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>